section{
    display: block;
}
img{
    width: 200px;
    height: 200px;
}
div{ 
    display: inline-block;
    margin: 5%;
    margin-left: 10%;

}
#table{
    font-size: 20;
    height: 30%;
    width: 50%;
}
table{
    width: 450px;
    height: 450px;
    font-size: 25px;
    
    border: 1px solid black;

}
 tr{
    padding: 10px;
      margin: 10px;
   
      width: 100px ;
    height: 100px ;
    border: 1px solid black;

}
 td {
    padding: 10px;
    margin: 10px;

    width: 100px ;
    height: 100px ;
    border: 1px solid black;

}
th {
    padding: 10px;
    margin: 10px;
  
    width: 100px ;
    height: 100px ;
    border: 1px solid rgb(53, 10, 10);

}
canvas{
    width: 1000px;
    height: 1000px;
}